 registry = https://nexus.ostadkar.pro/repository/npm-all/
 ; base64 encoded authentication token
 _auth = Z2l0bGFiOkRzZWQrNFAwc1Q2V1pmenQ2Z3dyaVE9PQ==
 ; force auth to be used for GET requests
 always-auth = true
