:root {
    --primary-color: #0077CC;
    --black-text-color: #1F1F1F;
    --black-primary-color: #0B0B0B;
    --gray-text-color: #707070;
    --gray-border-color: #E3E3E3;
    --success-color: #008665;
    --danger-color: #E70C3B;
}
